$main-multi-color: #ffffff;
$secondary-multi-color: #ef6f31;
$nav-font-color: #171520;
$main-font-color: #22272d;
$secondary-font-color: #8a9391;
$highlight-font-color: #6c6c6b;
$secondary-bg-color: #e2e2e0;
$footer-bg-color: #141423;