@use './partials/variables' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 90%;
    background-color: $main-multi-color;
    margin: 25px auto;
}

.main-container {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: 150px auto;
}

main {
    color: $main-font-color;
}

li {
    list-style-type: none;
}

.arrow-icon {
    vertical-align: bottom;
}

.pink-circle {
    width: 50px;
    height: 50px;
    border: 6px solid #ecc5ab;
    border-radius: 50%;
}


.user-input {
    background-color: $secondary-bg-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    border-radius: 10px;
    padding: 15px 30px;
}