@use './partials/variables' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}

.header-container {
    width: 90%;
    background-color: $main-multi-color;
    margin: 25px auto;
}


.user-input {
    background-color: $secondary-bg-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    border-radius: 10px;
    padding: 15px 30px;
}